.section-services {
  margin-top: -5vh;
  background-image: url(/assets/images/dots-background.jpg);
  height: 100%;
  width: 100%;
}

.services {
  padding: 40rem 0 20rem 0;
  text-align: center;

  background-color: inherit;
}

.features {
  margin-top: 9.6rem;
}

.section-about {
  margin-top: -4vh;
  padding: 9.6rem;

  background-color: #011019;
}
